include README
include LICENSE
include MANIFEST.in
include docs/conf.py
include docs/Makefile
include docs/index.rst
recursive-include docs/tree *.rst *.png
recursive-include adminlinkinline *.py *.html *.js